set realname="Kevin Klinge"
set from="kevin.klinge@kit.edu"
set use_from=yes
set envelope_from="yes"

set smtp_url=smtp://yi7266@kit.edu@smtp.kit.edu:587
set smtp_pass=`pass yi7266@kit.edu`
set smtp_authenticators="login"
set ssl_starttls = yes

set crypt_opportunistic_encrypt = yes
set crypt_autosign = yes
unset pgp_sign_as
set smime_is_default = yes

